import multiprocessing

bind = '127.0.0.1:30000'
logfile = "/var/www/vhosts/{{ deployment_name }}/logs/gunicorn.log"
max_requests = 1500
workers = multiprocessing.cpu_count() * 2 + 1
django_settings = 'settings'
pythonpath = '/var/www/vhosts/{{ deployment_name }}/code{{project_path }}'
proc_name = '{{ deployment_name }}_gunicorn'
timeout = 180
