*.swp
*.pyc
*.sqlite3
*.sqlite
*.swo
notes
onec_utils
attributes
media/photologue
media/upload
media/uploads
local_settings.py
.vagrant
django.log
public
.AppleDouble
:2eStore
venv
.idea
*.egg-info
.tox
*.sql
*.bz2
