[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "chef/apt"]
	path = chef/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "chef/cookbooks/fail2ban"]
	path = chef/cookbooks/fail2ban
	url = https://github.com/opscode-cookbooks/fail2ban
[submodule "chef/cookbooks/firewall"]
	path = chef/cookbooks/firewall
	url = https://github.com/opscode-cookbooks/firewall
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = https://github.com/opscode-cookbooks/git
[submodule "chef/cookbooks/memcached"]
	path = chef/cookbooks/memcached
	url = https://github.com/opscode-cookbooks/memcached
[submodule "chef/cookbooks/database"]
	path = chef/cookbooks/database
	url = https://github.com/opscode-cookbooks/database
[submodule "chef/cookbooks/mercurial"]
	path = chef/cookbooks/mercurial
	url = https://github.com/opscode-cookbooks/mercurial
[submodule "chef/cookbooks/nginx"]
	path = chef/cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "chef/cookbooks/ntp"]
	path = chef/cookbooks/ntp
	url = https://github.com/opscode-cookbooks/ntp
[submodule "chef/cookbooks/ohai"]
	path = chef/cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "chef/cookbooks/ossec"]
	path = chef/cookbooks/ossec
	url = https://github.com/opscode-cookbooks/ossec
[submodule "chef/cookbooks/postfix"]
	path = chef/cookbooks/postfix
	url = https://github.com/opscode-cookbooks/postfix
[submodule "chef/cookbooks/postgresql"]
	path = chef/cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/opscode-cookbooks/python
[submodule "chef/cookbooks/subversion"]
	path = chef/cookbooks/subversion
	url = https://github.com/opscode-cookbooks/subversion
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim
