{% extends "zinnia/entry_list.html" %}
{% load i18n %}
{% load url from future %}

{% block meta-description %}{% trans "Archives" %} {{ year }}{% endblock %}

{% block title %}{% trans "Archives" %} {{ year }}{% endblock %}

{% block body-class %}{{ block.super }} archive date year year-{{ year }}{% endblock %}

{% block content-title %}
<h3>{% trans "Archives" %} {{ year }}</h3>
{% endblock %}

{% block content-related %}
<h4>{% trans "Monthly archives" %}</h4>
<ul>
  {% for date in date_list %}
  <li>
    <a href="{% url 'zinnia_entry_archive_month' year date|date:"m" %}" rel="archives">{{ date|date:"YEAR_MONTH_FORMAT" }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
