.widget { padding:10px; border:1px solid #ccc; margin-bottom:1em;}
.widget h4 { font-size:12pt; padding-bottom:10px; }
.widget ul { padding-left:0; margin-left:0; }
.widget li { list-style:none; padding-left:0; }
