.container {
    background: #fff url(../img/floral/bg.png) no-repeat bottom left;
}
#main-content {
    font-family:Tahoma, Arial;
}
#main-content h3 { font-family: Tahoma, Arial; }
.style {
    padding: 4px;
}
.style_1 {
    padding: 0px;
}
.paragraph_style {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent url(C89B57633.png) repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_External_145_18 {
    position: relative;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_External_298_198 {
    position: relative;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.Body_Small {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(154, 192, 137);
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 41px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 0px;
}
.Normal_External_257_76 {
    position: relative;
}
.Normal_External_407_49 {
    position: relative;
}
.Summary_Archive {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_description_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_298_198 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_style_default_SkipStroke {
    background: transparent url(CA3CB9026.png) repeat scroll center center;
    opacity: 1.00;
}
.graphic_shape_style_default_5_SkipStroke {
    background: transparent url(CA3CB9026.png) repeat scroll center center;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_145_18 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
a:visited {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#main-content a:visited {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
#main-content .Summary_Comment {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a:visited {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
#main-content .Summary_Date {
    color: rgb(164, 166, 168);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.08em;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#main-content a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#main-content .Summary_Title {
    color: rgb(92, 167, 187);
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#main-content .Summary_Read_More {
    color: rgb(92, 167, 187);
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
#widget0 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#main-content a {
    color: rgb(154, 192, 137);
    text-decoration: none;
}
#main-content .Summary_Separator {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#main-content .Summary_Body {
    color: rgb(92, 92, 92);
    font-family: 'Georgia', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}

