{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<link href="/static/css/bootstrap.css" rel="stylesheet">
<style type="text/css">
  /* Override some defaults */
  html, body {
    background-color: #eee;
  }
  body {
    padding-top: 40px; 
  }
  .container {
    width: 300px;
  }

  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; 
    -webkit-border-radius: 10px 10px 10px 10px;
       -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  .login-form {
    margin-left: 65px;
  }

  legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
  }

</style>

{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div class="row">
        <div class="login-form">
          <h3>Login</h3>
          <form action="{{app_path}}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
              <div class="clearfix">
                {{ form.username.errors }}
                <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username }}
              </div>
              <div class="clearfix">
                {{ form.password.errors }}
                <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
              <button class="btn primary" type="submit">Sign in</button>
            </fieldset>
          </form>
          {% url 'admin_password_reset' as password_reset_url %}
          {% if password_reset_url %}
          <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
          </div>
          {% endif %}
        </div>
      </div>
      <script type="text/javascript">
      document.getElementById('id_username').focus()
      </script>
</div>
{% endblock %}