<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
	<title>Page not found - Adams School</title>
	<link rel="stylesheet" href="http://adamsschool.com/media/css/main.css"/>	
        <style>
           body { margin:2em; auto; font-size:12pt;}
        </style>
</head>
<body>
	<h1>Adams School</h1>
	<h2>Whoa, hold up there!</h2>
	
	<p>Sometimes plans best laid
	<br/>Come to nothing in the end.
	<br/>Oh, server error!</p>

	<p>The site is experiencing some trouble.</p>
	<p>Don't worry though, <em>500's happen. A team of bed-ridden tapirs are using their down time to fix these errors. For now, let us go <a href="http://adamsschool.com">home</a>.</em></p>

</body>
</html>

