{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block title %}{{ request.current_page.get_title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% show_breadcrumb %}
    </ul>
{% endblock breadcrumbs %}

{% block submenu %}
<div class="row">
    <div class="span12">
        <ul class="submenu">
            {% show_menu 1 100 0 1 %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
    <h2>{{ request.current_page.get_title }}</h2>
    {% placeholder "content" %}
{% endblock content %}
