{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Teachers{% endblock %}

{% block meta-keywords %}teachers staff{% endblock %}

{% block content %}
    <div id="main-content">
        <h3>Our teachers</h3>
        <p>At Adams School, all of our grades are combined, a feature that allows teachers to develop relationships with students over two years, and for younger students to see behavior modeled by their older classmates.</p>

      <div id="center-content">
        <div id="staff-list">
        {% for staff in teacher_list %}
        <dl class="staff">
          <dt><a href="{{staff.get_absolute_url}}" alt="{{staff}}">{{staff.title}} {{staff.last_name}}</a></dt>
          <dd>{% for pos in staff.positions.all %}{{pos}}{% if not forloop.last %}<br /> {%endif%}{%endfor %}
        </dl>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

