<div class='weather'>
    <div class="icon">
        <img src="{{ weather_info.current_observation.icon_url }}" />
    </div>
    <div class="loc-temp">
        <div class="loc">
        {{ weather_info.location.city }},
        {{ weather_info.location.state }}
        </div>
        <div class="temp-observe">
        <span class="temp">{{ weather_info.current_observation.temp_f }}°</span>
        <span class="observe">{{ weather_info.current_observation.weather }}</span>
        </div>
    </div>
</div>